*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    background-color: beige;
}

div{
    justify-content: center;
    align-items: center;
    display: flex;

    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box1{
    background-color: rgb(121, 218, 158);
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
#box2{
        background-color: rgb(85, 255, 0);
        width: 40%;
        height: 40%;

}