*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
.colorFont{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    height: 50%;
    width: 50%;
    background-color: aqua;
    text-align: center;
    color: blueviolet;
}
body{
    color: rgb(18, 2, 52);
    background-color: aquamarine;

}
p{
    color: red;
}