*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); */
    height: 400px;
    width: 330px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#card1{
    background-color: salmon;
    z-index: 4;
}
#card2{
    rotate: -10deg;
    background-color: yellow;
    z-index: 3;
}
#card3{
    rotate: -20deg;
    background-color: blue;
    z-index: 2;
}
#card4{
    rotate: -30deg;
    background-color: pink;
    z-index: 1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}